[core]
    pager = delta
    # pager = diff-so-fancy | less --tabs=4 -RFX

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[url "git@github.com:tikivn"]
	insteadOf = https://github.com/tikivn
[user]
	name = Hien Pham
