set clipboard+=unnamed

" https://github.com/JetBrains/ideavim/blob/master/doc/emulated-plugins.md
set surround
set commentary
set NERDTree
set ideajoin
set ideaput
set multiple-cursors
set commentary

" move lines around
nnoremap <Leader>k :m-2<cr>==
nnoremap <Leader>j :m+<cr>==
xnoremap <Leader>k :m-2<cr>gv=gv
xnoremap <Leader>j :m'>+<cr>gv=gv

" delete without copy
nnoremap <Leader>d "_d
xnoremap <Leader>d "_d
xnoremap <Leader>p "_dP

" format
command Format <Action>(ReformatCode)
noremap <C-y> :NERDTreeToggle<CR>
noremap <leader>t :NERDTreeFocus<CR>
map <leader>r <Action>(IdeaVim.ReloadVimRc.reload)

map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)

" ++ for commentary
vmap ++ gcc
nmap ++ gcc

""" Navigation
map <c-=> <Action>(Unsplit)
map <c-m> <Action>(MoveEditorToOppositeTabGroup)
map <c-h> <c-w>h
map <c-l> <c-w>l
map <c-j> <c-w>j
map <c-k> <c-w>k
map <Leader>en <Action>(EditSourceInNewWindow)
map <Leader>n <Action>(NextWindow)
map <Leader>q <Action>(CloseContent)
map <Leader>qa <Action>(CloseAllEditors)
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map zc <Action>(CollapseRegion)
map zo <Action>(ExpandRegion)
map <leader>zc <Action>(CollapseAllRegions)
map <leader>zo <Action>(ExpandAllRegions)
map <leader>c <Action>(CommentByLineComment)
map <leader>r <Action>(Refactorings.QuickListPopupAction)
map <Leader>=  <Action>(ReformatCode)
map <leader>o <Action>(OptimizeImports)
map <c-r> <Action>(RecentFiles)
map <leader>l <Action>(RecentLocations)
map <leader>h  <Action>(LocalHistory.ShowHistory)
map g[ <Action>(GotoNextError)
map g] <Action>(GotoPreviousError)

""" Searching and Source Code Navigation
set incsearch
map <c-/> <Action>(FindInPath)
nmap <c-k> <Action>(GotoAction)
map <c-p> <Action>(GotoFile)

map <leader>u <Action>(FindUsages)
map <leader>s <Action>(GotoRelated)
map <leader>h <Action>(CallHierarchy)
map <leader>b <Action>(ShowNavBar)
map <c-s> <Action>(FileStructurePopup)
" nmap <c-o> <Action>(GotoSymbol)
map <leader>gc <Action>(GotoClass)
map gi <Action>(GotoImplementation)
" map gd <Action>(GotToDeclaration)
map gp <Action>(GotToSuperMethod)
map <leader>gt <Action>(GotoTest)
map gb <Action>(Back)
map gf <Action>(Forward)

""" Tool windows
" map <c-p> <Action>(JumpToLastWindow)
map <c-x> <Action>(HideAllWindows)
""" Running and Debugging
map ,r <Action>(ContextRun)
map ,c <Action>(RunClass)
map ,f <Action>(ChooseRunConfiguration)
map ,t <Action>(ActivateRunToolWindow)
map ,u <Action>(Rerun)
map ,f <Action>(RerunFailedTests)
map ,b <Action>(ToggleLineBreakpoint)
map ,d <Action>(ContextDebug)
map ,n <Action>(ActivateDebugToolWindow)
