snippet validatemsg "Add required messages to this field" b
[(validate.rules).message.required = true]
endsnippet

snippet validatestring "Add validate string messages to this field" b
[(validate.rules).string = {min_len: 1}]
endsnippet

snippet validateoneof "Add validate oneof" b
option (validate.required) = true;
endsnippet

snippet validate_timestamp "Add required timestamp to this field" b
[(validate.rules).timestamp.required = true]
endsnippet

