* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
  background: #000000;
  color: #e5e9f0;
}

#workspaces button{
  padding: 5px 4px;
  border-bottom: 1px solid #000000;
}

#workspaces button.focused {
  background: #4c566a;
  border-bottom: 1px solid #e5e9f0;
}
