[Desktop Entry]
Version=1.0
Name=Google Chrome
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/google-chrome-stable --enable-features=UseOzonePlatform --ozone-platform=wayland --gtk-version=4 --enable-accelerated-video-decode --enable-features=VaapiVideoDecoder --enable-features=VaapiVideoEncoder --enable-accelerated-2d-canvas %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/google-chrome-stable --enable-features=UseOzonePlatform --ozone-platform=wayland --gtk-version=4 --enable-accelerated-video-decode --enable-features=VaapiVideoDecoder --enable-features=VaapiVideoEncoder --enable-accelerated-2d-canvas

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/google-chrome-stable --incognito --enable-features=UseOzonePlatform --ozone-platform=wayland --gtk-version=4 --enable-accelerated-video-decode --enable-features=VaapiVideoDecoder --enable-features=VaapiVideoEncoder --enable-accelerated-2d-canvas
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
